<%= form_with model: store, url: path, data:{turbo: false} do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      <% store.images.each do  |image|%>
      <%= image_tag image, class: "store-image" %>
      <%end %>
  </p>

  <div>
  <%= form.label :images %>
  <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, class: "form-control" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div>
    <%= form.label :instagram, style: "display: block" %>
    <%= form.text_field :instagram, class: "form-control" %>
  </div>

  <div>
    <%= form.label :facebook, style: "display: block" %>
    <%= form.text_field :facebook, class: "form-control" %>
  </div>

  <div>
    <%= form.label :locaation_long, style: "display: block" %>
    <%= form.text_field :locaation_long, class: "form-control" %>
  </div>

  <div>
    <%= form.label :location_lat, style: "display: block" %>
    <%= form.text_field :location_lat, class: "form-control" %>
  </div>

  <div class="d-flex">
    <span> <%= form.check_box :is_approved %></span>
    <span><%= form.label :is_approved, style: "display: block; padding-left: 4px" %></span>
  </div>

  <div>
    <%= form.submit "Submit" , class: "btn btn-primary" %>
  </div>
<% end %>
