<div id="<%= dom_id store %>">


  <p>
    <strong>User:</strong>
    <%= store.user_id %>
  </p>

   <p>
    <strong>Category:</strong>
    <%= store.category_id %>
  </p>

   <p>
    <strong>Subcategory:</strong>
    <%= store.subcategory_id %>
  </p>

   <p>
    <strong>City:</strong>
    <%= store.city_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= store.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= store.phone %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= store.instagram %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= store.facebook %>
  </p>

  <p>
    <strong>Locaation long:</strong>
    <%= store.locaation_long %>
  </p>

  <p>
    <strong>Location lat:</strong>
    <%= store.location_lat %>
  </p>

  <p>
    <strong>Is approved:</strong>
    <%= store.is_approved %>
  </p>

  <%if show_images%>
    <p>
      <% store.images.each do  |image|%>
      <%= image_tag image, class: "store-image" %>
      <%end %>
    </p>
  <%end%>


</div>
