<%= form_with(model: item_variant) do |form| %>
  <% if item_variant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item_variant.errors.count, "error") %> prohibited this item_variant from being saved:</h2>

      <ul>
        <% item_variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.text_field :item_id %>
  </div>

  <div>
    <%= form.label :store_id, style: "display: block" %>
    <%= form.text_field :store_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency %>
  </div>

  <div>
    <%= form.label :image_index, style: "display: block" %>
    <%= form.number_field :image_index %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
