<div id="<%= dom_id item_variant %>">
  <p>
    <strong>Item:</strong>
    <%= item_variant.item_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= item_variant.store_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item_variant.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item_variant.value %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item_variant.price %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= item_variant.cost %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= item_variant.currency %>
  </p>

  <p>
    <strong>Image index:</strong>
    <%= item_variant.image_index %>
  </p>

</div>
