<%= form_with(url: "/user/#{@user.id}/update_admin_fields" , method: :patch) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field  d-fle  align-items-center">
    <%= f.check_box :is_driver %>
    <span class="px-2"><%= f.label :is_driver %></span>
  </div>


   <div class="field d-flex align-items-center">
    <%= f.check_box :is_admin %>
    <span class="px-2"><%= f.label :is_admin %></span>
  </div>

  <div>
    <%= f.submit "Submit", class: "btn btn-primary mt-5"%>
  </div>
<% end %>

<%= link_to "Back", :back %>
