<div id="<%= dom_id item_analytic %>">

 <p>
    <strong>Store:</strong>
    <%= item_analytic.store_id %>
  </p>


  <p>
    <strong>Item:</strong>
    <%= item_analytic.item_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item_analytic.item_name %>
  </p>

  <p>
    <strong>Lifetime views:</strong>
    <%= item_analytic.lifetime_views %>
  </p>

  <p>
    <strong>Total stars:</strong>
    <%= item_analytic.total_stars %>
  </p>

  <p>
    <strong>Total reviews:</strong>
    <%= item_analytic.total_reviews %>
  </p>

  <p>
    <strong>Total shares:</strong>
    <%= item_analytic.total_shares %>
  </p>

  <p>
    <strong>Total comments:</strong>
    <%= item_analytic.total_comments %>
  </p>

  <p>
    <strong>Total revenue usd:</strong>
    <%= item_analytic.total_revenue_usd %>
  </p>

  <p>
    <strong>Total revenue iqd:</strong>
    <%= item_analytic.total_revenue_iqd %>
  </p>

  <p>
    <strong>Total item sales:</strong>
    <%= item_analytic.total_item_sales %>
  </p>

</div>
