<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= order.store_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order.item_id %>
  </p>

  <p>
    <strong>Order no:</strong>
    <%= order.order_no %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= order.driver_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= order.item_name %>
  </p>

  <p>
    <strong>Supplier name:</strong>
    <%= order.supplier_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= order.currency %>
  </p>

  <p>
    <strong>Shipping kg:</strong>
    <%= order.shipping_kg %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Total weight:</strong>
    <%= order.total_weight %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Is picked up:</strong>
    <%= order.is_picked_up %>
  </p>

  <p>
    <strong>Is delivered:</strong>
    <%= order.is_delivered %>
  </p>

</div>
