<%= form_with(model: item, url: path, data: {tubo: false}) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <% item.images.each do  |image|%>
    <%= image_tag image, class: "store-image" %>
    <%end %>
  </p>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: params[:user_id], class: "form-control" %>
  </div>

  <div>
    <%= form.label :store_id, style: "display: block" %>
    <%= form.text_field :store_id, value: params[:store_id], class: "form-control" %>
  </div>

    <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id, class: "form-control" %>
  </div>

   <div>
    <%= form.label :subcategory_id, style: "display: block" %>
    <%= form.text_field :subcategory_id, class: "form-control" %>
  </div>

   <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.text_field :city_id, class: "form-control" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price , class: "form-control"%>
  </div>

  <div>
    <%= form.label :currency, style: "display: block" %>
    <%= form.text_field :currency, class: "form-control" %>
  </div>

  <div class="d-flex">
    <span><%= form.check_box :is_approved %></span>
    <span class="px-2"><%= form.label :is_approved, style: "display: block" %></span>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary mt-5"%>
  </div>
<% end %>
