<div id="<%= dom_id item %>">
  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= item.store_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= item.currency %>
  </p>

  <p>
    <strong>Is approved:</strong>
    <%= item.is_approved %>
  </p>

</div>
